/* poets styles  */
.poets-summaries-container {
    width: 40%;
}

.poets-header {
    font-size: xx-large;
    /* letter-spacing: 0.7em; */
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 1em;
}


.poet-row {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    /* margin-top: 1em; */
    /* margin-bottom: 1em; */
    border: 4px solid #fff;
}

.poet-row:hover {
    border: 4px dashed #ede98b;
}

.poet-row-name-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.poet-row-name-item {
    margin-left: 0.1em;
    font-weight: 500;    
}

.poet-row-language-item {
    margin-left: 1em;
    font-weight: 300;
}

/* poet styles */
.poet-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-bottom: 8em;
}

.poet-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2em;
    border-bottom: 1px dotted #19ecff;
}

.poet-header-name {
    font-size: 4.6em;
    font-weight: 300;
}

.poet-subheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 1em;
}

.poet-subheader-language {
    font-family: monospace;
    font-size: 1.7em;
    padding-left: 0.3em;
}

.poet-subheader-designer-text {
    font-size: 1.8em;
}

.poet-subheader-designer {
    padding-left: 0.5em;
}

.poet-subheader-designer:hover {
    font-weight: 400;
}

.poet-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poet-body-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2em;
    padding-bottom: 2em;
}

.poet-body-menu-item {
    font-size: 2.4em;
    font-weight: 300;
    padding: 0.4em;
    border: 1px solid #fff;
    cursor: pointer;
}

.poet-body-menu-item-selected {
    font-size: 2.4em;
    font-weight: 300;
    padding: 0.4em;
    border: 1px solid #444;
    cursor: pointer;
}

.poet-body-content {
    padding-top: 2em;
}

.poet-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #19ecff;
    text-shadow: 2px 2px #ffb2e4;
    font-size: 2.5em;
    margin-top: 2em;
}

.poet-overview-stats-container {
    display: flex;
    position: relative;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    border: 4px solid #ffa9d8;
    box-shadow: 4px 4px #e396d3;
    margin-bottom: 2em;
}

.poet-overview-stats-header-container {
    display: flex;
    align-items: center;
    align-self: stretch;
    background-color: #ffa9d8;
}

.poet-overview-stats-header {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    font-weight: 400;
    color: #49fffd;
    font-size: 1em;
    text-shadow: 4px 4px #fe87bc;
    padding: 1em 0.3em 1em 0.3em;
}


.poet-overview-details {
    text-align: left;
    font-size: 0.7em;
}

.poet-overview-detail {
    text-align: left;
    white-space: pre-wrap;
}

.poet-overview-detail-value {
    text-align: center;
    font-weight: bold;
    color: #ffb2e4;
    text-shadow: 3px 3px #19ecff;
}

.poet-overview-header {
    margin-top: 2em;
    font-weight: bold;
    font-size: 3em;
    color: #ffb2e4;
    text-shadow: 3px 3px #affbff;
}


.poet-overview-description-container {
    display: flex;
    position: relative;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    border: 4px solid #ffa9d8;
    box-shadow: 4px 4px #e396d3;
    margin-bottom: 2em;
}

.poet-overview-description-header-container {
    display: flex;
    align-items: center;
    align-self: stretch;
    background-color: #ffa9d8;
}

.poet-overview-description-header {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    font-weight: 400;
    color: #49fffd;
    font-size: 1em;
    text-shadow: 4px 4px #fe87bc;
    padding: 1em 0.3em 1em 0.3em;
}

.poet-overview-description {
    margin-top: 1em;
    width: 100%;
    padding-bottom: 2em;
    text-align: justify;
    word-break: break-all;
}

.poet-overview-sample-poem-container {
    display: flex;
    position: relative;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    border: 4px solid #ffa9d8;
    box-shadow: 4px 4px #e396d3;    
}

.poet-overview-sample-poem-header-container {
    display: flex;
    align-items: center;
    align-self: stretch;
    background-color: #ffa9d8;
}

.poet-overview-sample-poem-header {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    font-weight: 400;
    color: #49fffd;
    font-size: 1em;
    text-shadow: 4px 4px #fe87bc;
    padding: 1em 0.3em 1em 0.3em;
}


.poet-overview-generate-poem {
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2em;
    width: 50%;
}

.poet-overview-generate-poem-button {
    padding: 1em;
    background-color: #ffffff;
    border: 1px solid #f28cce;
    font-size: 0.6em;
    color: #f28cce;
    font-weight: 500;
    cursor:pointer;
    margin-bottom: 2em;
    margin-top: 3em;
}


.poet-overview-generate-poem-button:hover {
    background-color: #ffb2e4;
    border: 1px solid #ffb2e4;
    color: #ffffff;
}

.poet-code-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    border: 4px solid #ffa9d8;
    box-shadow: 4px 4px #e396d3;
    margin-bottom: 2em;
    margin-top: 4em;
}

.poet-code-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: #ffa9d8;
}

.poet-code-header {
    white-space: nowrap;
    font-weight: 400;
    color: #49fffd;
    font-size: 3em;
    text-shadow: 4px 4px #fe87bc;
    padding: 0.3em 0.3em 0.3em 0.3em;
}

.poet-body-code-container {
    overflow-x: scroll;
    width: 100%;
}

.poet-body-code {
    text-align: left;
    /* font-size: 1em; */
}


/* ----------- MOBILE MEDIA QUERIES ----------- */

@media screen and (max-width: 800px) {
    .poets-summaries-container {
        width: 100%;
    }
}
