.App {
    height: inherit;
    width: inherit;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer"
        
}

.App-header {
    grid-area: header;
    color: #444;
    font-size: 8.5vw;
}

.footer {
    grid-area: footer;
    font-size: 8.5vw;
    background-color: blue;
}

.main {
    grid-area: main;
}
