
### Golang ignore ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output of fresh, fs watcher
server/tmp

### Javascript ES6/React ignore ###
# dependencies
client/node_modules

# testing
client/coverage

# production
client/build

# misc
.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

### Dev Data ingore ###
.dev-data/
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/.secrets
