.profile-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    margin-bottom: 6em;
    width: 30%;
}

.profile-user-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 4em;
    margin-bottom: 5em;
}

.profile-user-greeting {
    display: flex;
    justify-content: flex-start;
}

.profile-user-details {
    width: 50%;
    margin-top: 2em;
    font-size: 1.5em;
    font-weight: 400;
    text-align: left;
}

.profile-user-details-field {
    color: #ff87c9;
}

.profile-user-details-value {
    color: #ff87c9;
}

.profile-user-details-divider {
    width: 60%;
    margin-top: 2em;
    border-bottom: 1px solid #ffe3e9;
}

.profile-poets-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profile-poets-list-container {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 4px solid #ffa9d8;
    box-shadow: 4px 4px #e396d3;
}

.profile-poets-list-header-container {
    display: flex;
    align-items: center;
    align-self: stretch;
    background-color: #ffa9d8;
}

.profile-poets-list-header {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    font-weight: 400;
    color: #f1ff9d;
    font-size: 3em;
    text-shadow: 4px 4px #ff75b3;
    padding: 1em 0.3em 1em 0.3em;
}


.profile-poets-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0.5em 1em 0.5em;
}

.profile-poets-empty-message {
    color: #e0cefe;
    text-shadow: 4px 4px #bdf2ff;
    font-size: 5em;
}

.profile-poet-summary-container {
    display: flex;
    flex-direction: row;
    padding: 1em;
    width: 90%;
    margin-bottom: 1em;
    margin-top: 1em;
    border: 4px solid #ffffff;
}

.profile-poet-summary-container:hover {
    border: 4px dashed #ede98b;
}


.profile-poet-summary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    word-break: break-word;
}


.profile-poet-name-language {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding-bottom: 0.5em;
}

.profile-poet-name {
    font-size: 2em;
    font-weight: 300;
}

.profile-poet-language {
    font-size: 1.4em;
    font-family: monospace;
}

.profile-poet-description {
    text-align: justify;
    font-size: 1.2em;
    font-weight: 300;
}

.profile-poet-delete-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.7em;
    color: #999;
    cursor: pointer;
}

.profile-poet-delete-container:hover {
    background-color: #ff7792;
    /* background-color: #f14a4a; */
    color: #fff;
}

.profile-poet-delete-button {
    text-align: center;
    font-weight: 400;
    cursor: pointer;
}

/* .create-poet-form-container { */
/*     display: flex; */
/*     flex-direction: column; */
/*     justify-content: center; */
/*     align-items: center; */
/*     padding: 1em 4em 4em 4em; */
/*     text-align: left; */
/*     width: 70%; */
/* } */



.create-poet-form-container {
    display: flex;
    position: relative;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    border: 4px solid #b2f6ff;
    margin-top: 6em;
    box-shadow: 5px 5px #b3e0ff;
}

.create-poet-form-header-container {
    display: flex;
    align-items: center;
    align-self: stretch;
    background-color: #b2f6ff;
}

.create-poet-form-header {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    font-weight: 400;
    color: #ffb2e4;
    font-size: 3em;
    text-shadow: 4px 4px #84e6eb;
    padding: 1em 0.3em 1em 0.3em;
}


.create-poet-form-and-error {
    display: flex;
    flex-direction: column;
    margin: 3em 3em 3em 3em;
}

.create-poet-form {
    display: flex;
    flex-direction: column;
}

.create-poet-form-language-select {
    margin-bottom: 1em;
}

.profile-poet-button {
    margin-bottom: 1em;
    display: flex;
    justify-content: left;
}

.profile-poet-file-button {
    margin-top:2em;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.profile-poet-file-button + label {
    font-size: 1.25em;
    font-weight: 300;
    padding: 0.3em;
    background-color: #fff;
    color: #f28cce;
    border: 1px solid #f28cce;
    display: inline-block;
    cursor: pointer;
}

.profile-poet-file-button:focus + label,
.profile-poet-file-button + label:hover {
    /* outline: 1px dotted #000; */
    /* outline: -webkit-focus-ring-color auto 5px; */
    background-color: #ffb2e4;
    color: #ffffff;
    border: 1px solid #ffb2e4;
}

.profile-poet-submit-button {
    background-color: #fff;
    color: #f28cce;
    border: 2px solid #f28cce;
    font-family: 'Source Sans Pro', sans-serif;;
    font-size: 1.7em;
    outline:none;
    margin-top: 0.4em;
    font-weight: 400;
    cursor: pointer;
}

.profile-poet-submit-button:hover {
    background-color: #ffb2e4;
    color: #ffffff;
    border: 2px solid #ffb2e4;
}

.profile-poet-upload-error-message {
    color: #ff7792;
    margin-top: 2em;
    border-left: 2px solid #ff7792;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #c3a5d3;
    overflow: hidden;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #c3a5d3;
    overflow: hidden;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #c3a5d3;
    overflow: hidden;
}
:-moz-placeholder { /* Firefox 18- */
    color: #c3a5d3;
    overflow: hidden;
}


/* ----------- MOBILE MEDIA QUERIES ----------- */

@media screen and (max-width: 800px) {
    .profile-container {
        width: 100%;
    }

    .profile-user-details {
        font-size: 1.25em;
    }

    .profile-poets-container {
        width: 95%;
        flex-direction: column;
    }
}
