@import url('https://fonts.googleapis.com/css?family=Noto+Sans&subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese');

.App {
    height: inherit;
    width: inherit;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer"
        
}

.footer {
    display: flex;
    justify-content: space-between;
    grid-area: footer;
    font-family: 'Noto Sans', sans-serif;
    font-size: 8.5vw;
}

.main {
    grid-area: main;
}

.home-menu {
    display: flex;
    justify-content: space-between;
    font-size: 8.5vw;
}
