@import url('https://fonts.googleapis.com/css?family=Noto+Sans&subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese');

a {
    text-decoration: none !important;
    color: #444;
}

.App {
    height: inherit;
    width: inherit;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer"
        
}

.footer {
    display: flex;
    justify-content: center;
    grid-area: footer;
    font-family: monospace;
    font-size: large;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    color: #ff7792;
}

.main {
    grid-area: main;
    display: flex;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
}

.welcome-container {
    display: flex;
    justify-content: center;
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .welcome-container {
        flex-direction: column;
        align-items: center;
    }

    .pipi-welcome-computer {
        font-size: 1.4em !important;
    }
    
    .pipi-welcome-speech {
        font-size: 3.5em !important;
        text-align: left !important;
        order: -1 !important;
        margin-left: 0em !important;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .welcome-container {
        flex-direction: column;
        align-items: center;
    }

    .pipi-welcome-computer {
        font-size: medium !important;
    }
    
    .pipi-welcome-speech {
        font-size: xx-large !important;
        text-align: left !important;
        order: -1 !important;
        margin-left: 0em !important;
    }
}
