
.about {
    height: 100%;
    margin-top: 1%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "tabs"
        "tab-content"
}

.about-tabs {
    grid-area: tabs;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-tab {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 5px;
    font-size: 2.5vw;
    font-weight: 300;
    color: #444;
    border: solid #fff 2px;
    cursor: pointer;
}

.about-content {
    grid-area: tab-content;
    font-size: 2vw;
    text-align: justify;
    text-justify: inter-word;
}

.about-bullet {
    font-weight: 400;
}
