.login-page {
    width: 30%;
}

.login-container {
    margin-top: 3em;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 3em;
}

.signin-button {
    background-color: #222;
    color: #fff;
    border: 1px solid #222;
    font-family: 'Source Sans Pro', sans-serif;;
    font-size: 1.7em;
    outline:none;
    margin: 0.4em;
    font-weight: normal;
    cursor: pointer;
}

.signin-button:hover {
    background-color: #fff;
    color: #222;
    border: 1px solid #222;
}

.login-signup-choose-box-thing {
    margin-top: 0.3em;
    font-size: 1.3em;
    white-space: pre-wrap;
}

.login-choice-button:hover {
    font-weight: 400;
    cursor: pointer;
}

.signup-choice-button:hover {
    font-weight: 400;
    cursor: pointer;
}

.login-signup-error-message {
    padding-top: 1em;
    color: red;
}

/* ----------- MOBILE MEDIA QUERIES ----------- */

@media screen and (max-width: 800px) {
    .login-page {
        width: 80%;
    }

    .login-form-field {
        width: 100% !important;
    }
}
