.login-page {
    width: 30%;
}

.login-container {
    margin-top: 15em;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 3em;
}

.signin-button {
    background-color: #fff;
    color: #f28cce;
    border: 1px solid #f28cce;
    font-family: 'Source Sans Pro', sans-serif;;
    font-size: 1.7em;
    outline:none;
    margin: 0.4em;
    font-weight: normal;
    cursor: pointer;
}

.signin-button:hover {
    background-color: #ffb2e4;
    color: #ffffff;
    border: 1px solid #ffb2e4;
}

.login-signup-choose-box-thing {
    margin-top: 0.3em;
    font-size: 1.3em;
    color: #f28cce;
    white-space: pre-wrap;
}

.login-choice-button:hover {
    font-weight: 400;
    cursor: pointer;
}

.signup-choice-button:hover {
    font-weight: 400;
    cursor: pointer;
}

.login-signup-error-message {
    padding-top: 1em;
    color: red;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #c3a5d3;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #c3a5d3;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #c3a5d3;
}
:-moz-placeholder { /* Firefox 18- */
    color: #c3a5d3;
}

/* ----------- MOBILE MEDIA QUERIES ----------- */

@media screen and (max-width: 800px) {
    .login-page {
        width: 80%;
    }

    .login-form-field {
        width: 100% !important;
    }
}
